<%- include('templates/header.ejs') %>
<div class = "form-container">
	<form action = "/students/edit/<%= student.id %>" method = "POST">
		First Name:
		<br>
		<input type = "text" name = "first_name" value = "<%=student.first_name%>" autofocus required>
		<br>
		Last Name:
		<br>
		<input type = "text" name = "last_name" value = "<%=student.last_name%>" required>
		<br>
		Email:
		<br>
		<input type = "text" name = "email" value = "<%=student.email%>" required>
		<br>
		<br>
		<input class="waves-effect waves-light btn" type = "submit" value = "Edit Student">
	</form>
</div>
<%- include('templates/footer.ejs') %>