<%- include('templates/header.ejs') %>

<div class = "table-container">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Full Name</th>
				<th>Email</th>
				<th>Action</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			<%students.forEach(student => {%>
			<tr>
				<td><%=student.id%></td>
				<td><%=student.first_name%></td>
				<td><%=student.last_name%></td>
				<td><%=student.getFullName()%></td>
				<td><%=student.email%></td>
				<td><a href = "/students/<%=student.id%>/addsubject">Add Subject</a></td>
				<td>
					<a href = "/students/edit/<%=student.id%>">edit</a>
					<a href = "/students/delete/<%=student.id%>">delete</a>
				</td>
			</tr>
			<%})%>
		</tbody>
	</table>
	<a class="waves-effect waves-light btn add" href="/students/add">ADD STUDENT</a>
</div>

<%- include('templates/footer.ejs') %>