<%- include('templates/header.ejs') %>

<div>
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Subject Name</th>
				<th>Teacher(s)</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<%subjects.forEach(subject => {%>
			<tr>
				<td><%= subject.id %></td>
				<td><%= subject.subject_name %></td>
				<td>
					<ol>
					<%if (subject.Teachers) {
						subject.Teachers.forEach(teacher => { %>
							<li><%= teacher.getFullName() %></li>
						<%});
					}%>
					</ol>
				</td>
				<td>
					<a href="/subjects/<%= subject.id %>/enrolledstudents">Enrolled Student(s)</a>
				</td>
			</tr>
			<%})%>
		</tbody>
	</table>
</div>
<%- include('templates/footer.ejs') %>